<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Meta -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="../static/assets/images/fav-w.svg" type="" />

    <title>Viet Model</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <!-- nice select  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
      crossorigin="anonymous"
    />
    <!-- font awesome style -->
    <link href="../static/assets/css/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../static/assets/css/css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="hero_area">
      <div class="bg-box"></div>

      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <img class="logo" src="../static/assets/images/logo-w.svg" alt="" title="" />
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="interactive.html">Interactive</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <a class="cart_link" href="#">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 456.029 456.029"
                    style="enable-background: new 0 0 456.029 456.029"
                    xml:space="preserve"
                  >
                    <g>
                      <g>
                        <path
                          d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                        />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z"
                        />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                        />
                      </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </svg>
                </a>
                <form class="form-inline">
                  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="" class="log_in"> Log In </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
    <!-- video section -->

<section class="video_section" style="text-align: center; padding: 20px 0;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading_container heading_center">
          <h3>PREMIUM MODELCRAFT IN VIETNAM</h3>
        </div>
        <div class="video-box">
          <!-- YouTube Video Embed -->
          <section class="video_section" style="text-align: center; padding: 20px 0;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="video-box" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto;">
                    <!-- YouTube Video Embed -->
                    <iframe src="https://www.youtube.com/embed/T1wOSectc2Y?si=4WeU4pcDtzuNLcqT" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                    </iframe>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- end video section -->
      </div>
    </div>
  </div>
</section>
    <!-- end video section -->
      <!-- slider section -->
      <!-- <section class="slider_section"         style="
      background: url('../static/assets/images/home.jpg');
      background-size: cover;
      background-position: 50% 80%;
    ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Fast Food Restaurant</h1>
                      <p>
                        Doloremque, itaque aperiam facilis rerum, commodi,
                        temporibus sapiente ad mollitia laborum quam quisquam
                        esse error unde. Tempora ex doloremque, labore, sunt 
                        repellat dolore, iste magni quos nihil ducimus libero
                        ipsam.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1"> Order Now </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Fast Food Restaurant</h1>
                      <p>
                        Doloremque, itaque aperiam facilis rerum, commodi,
                        temporibus sapiente ad mollitia laborum quam quisquam
                        esse error unde. Tempora ex doloremque, labore, sunt
                        repellat dolore, iste magni quos nihil ducimus libero
                        ipsam.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1"> Order Now </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Fast Food Restaurant</h1>
                      <p>
                        Doloremque, itaque aperiam facilis rerum, commodi,
                        temporibus sapiente ad mollitia laborum quam quisquam
                        esse error unde. Tempora ex doloremque, labore, sunt
                        repellat dolore, iste magni quos nihil ducimus libero
                        ipsam.
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn1"> Order Now </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <ol class="carousel-indicators">
              <li
                data-target="#customCarousel1"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#customCarousel1" data-slide-to="1"></li>
              <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </section> -->
      <!-- end slider section -->
    </div>

    <!-- offer section -->
<!-- 
    <section class="offer_section layout_padding-bottom">
      <div class="offer_container">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="box">
                <div class="img-box">
                  <img src="../static/assets/images/o1.jpg" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Tasty Thursdays</h5>
                  <h6><span>20%</span> Off</h6>
                  <a href="">
                    Order Now
                    <svg
                      version="1.1"
                      id="Capa_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      viewBox="0 0 456.029 456.029"
                      style="enable-background: new 0 0 456.029 456.029"
                      xml:space="preserve"
                    >
                      <g>
                        <g>
                          <path
                            d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                          />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z"
                          />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                          />
                        </g>
                      </g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <div class="img-box">
                  <img src="../static/assets/images/o2.jpg" alt="" />
                </div>
                <div class="detail-box">
                  <h5>High-Rise Days</h5>
                  <h6><span>15%</span> Off</h6>
                  <a href="">
                    Order Now
                    <svg
                      version="1.1"
                      id="Capa_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      viewBox="0 0 456.029 456.029"
                      style="enable-background: new 0 0 456.029 456.029"
                      xml:space="preserve"
                    >
                      <g>
                        <g>
                          <path
                            d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                          />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z"
                          />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                          />
                        </g>
                      </g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- end offer section -->

    <!-- portfolio section -->

    <section class="portfolio_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>WHAT WE DO</h2>
        </div>

        <ul class="filters_menu">
          <li class="active" data-filter="*">All</li>
          <li data-filter=".urban">Urban Area Master Plan</li>
          <li data-filter=".high-rise">High-Rise</li>
          <li data-filter=".commercial">Commercial</li>
          <li data-filter=".interiors">Interiors</li>
        </ul>

        <div class="filters-content">
          <div class="row grid">
            <div class="col-sm-6 col-lg-4 all high-rise">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/2023- DIAMOND RIVER 1-140 (2).JPG" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>Diamond River</h5>
                    <p>
                      Client: SUNSHINE GROUP <br>
                      Scale: 1:140<br>
                      Dimension: 5,000 x 2,200 mm<br>
                      Production time: 2023<br>
                    </p>
                    <div class="options">
                      <!-- <h6>$20</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all urban">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/BAY OF LIGHTS (2).jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>BAY OF LIGHTS</h5>
                    <p>
                      Client: CANOPY SANDS DEVELOPMENT <br>
                      Scale: 1/700 <br>
                      Dimension: 6600 x 12000 mm <br>
                      Production time: October 2023 <br>
                    </p>
                    <div class="options">
                      <!-- <h6>$15</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all high-rise">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/2020- BRG PARK RESIDENCES 1-100 (5).JPG" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>BRG PARK RESIDENCES</h5>
                    <p>
                      Client: BRG GROUP <br>
                      Scale: 1:100 <br>
                      Dimension: 2,200 x 2,200 mm <br>
                      Production time: 2020 <br>
                    </p>
                    <div class="options">
                      <!-- <h6>$17</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all commercial">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/2024- LAYAN VERDE PHUKET (5).JPG" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>LAYAN VERDE PHUKET</h5>
                    <p>
                      Client: LAYAN BEST VIEW<br>
                      Scale: 1/200 <br>
                      Dimension: 2600x1800 mm <br>
                      Production time: November 2024 <br>                   
                    </p>
                    <div class="options">
                      <!-- <h6>$18</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all interiors">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/GARDEN VILLA (9).JPG" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>GARDEN VILLA</h5>
                    <p>
                      Client: BIM GROUP <br>
                      Scale: 1/30 <br>
                      Dimension:  900 x 900 mm <br>
                      Production  time: 2/2021 <br>
                    </p>
                    <div class="options">
                      <!-- <h6>$10</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all high-rise">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/2024- SUNSHINE NOBLE 1-100 (11).jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>NOBLE CRYSTAL</h5>
                    <p>
                      Client: SUNSHINE E&C CONSTRUCTION., JSC <br>
                      Scale: 1:100 <br>
                      Dimension: 4,800 x 2,400 mm <br>
                      Production time: 2019 <br>
                    </p>
                    <div class="options">
                      <!-- <h6>$15</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all urban">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/2023- DU AN THANH XUAN 1-500 (3).jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>THANH XUAN VALLEY</h5>
                    <p>
                      Client: BIM GROUP <br>
                      Scale: 1/500 <br>
                      Dimension: 6000 X 4000 mm <br>
                      Production time: Sep, 2023 <br>
                    </p>
                    <div class="options">
                      <!-- <h6>$12</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all urban">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/DIA TRUNG HAI (2).jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>SUN PREMIER VILLAGE PRIMAVERA</h5>
                    <p>
                      Client: SUN GROUP <br>
                      Scale: 1/500 <br>
                      Dimension: 3,000 x 1,500 mm <br>
                      Production time: November, 2021 <br>
                    </p>
                    <div class="options">
                      <!-- <h6>$14</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 all commercial">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="../static/assets/images/portfolio/2023- PARK ZONE THANH XUAN 1-500 (3).JPG" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>PARK ZONE</h5>
                    <p>
                      Client: BIM GROUP <br>
                      Scale: 1/300 <br>
                      Dimension: 2,600 x 1,400 mm <br>
                      Production time: 2023 <br>
                    </p>
                    <div class="options">
                      <!-- <h6>$10</h6> -->
                      <a href="">
                        <i class="fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href=""> View More </a>
        </div>
      </div>
    </section>

    <!-- end portfolio section -->

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="../static/assets/images/about.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>We Are Viet Model</h2>
              </div>
              <p>
                Truthfully and emotionally, scale models are the miniature of
                the real life that act as the shortest bridge sticking designs
                with future building particularly and vividly. Understanding
                that thoroughly, Viet Model Limited Company (MohinhViet) never
                stops endeavour to bring customers not only a merely
                architectural scale model but a visual illustration of the
                design concept in the most persuasive manner...
              </p>
              <a href="about.html"> Read More </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- contact section -->
    <!-- contact section -->
    <section class="contact_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>Contact Us</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form_container">
              <form action="">
                <div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Name"
                  />
                </div>
                <div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Phone Number"
                  />
                </div>
                <div>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your Email"
                  />
                </div>
                <div>
                  <textarea
                    class="form-control"
                    placeholder="Your Message"
                    rows="6"
                  ></textarea>
                </div>
                <div class="btn_box">
                  <button>SEND</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map_container">
              <!-- Nhúng Google Maps thông qua iframe -->
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9632.571746529398!2d105.890096!3d20.9933415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac07d0294019%3A0x4119b83b77498208!2zQ8O0bmcgVHkgVE5ISCBNw7QgSMOsbmggVmnhu4d0!5e1!3m2!1sen!2s!4v1735198932832!5m2!1sen!2s"
                width="100%"
                height="345"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->

    <!-- client section -->
<!-- 
    <section class="client_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
          <h2>What Says Our Customers</h2>
        </div>
        <div class="carousel-wrap row">
          <div class="owl-carousel client_owl-carousel">
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Moana Michell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img src="../static/assets/images/client1.jpg" alt="" class="box-img" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Mike Hamell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img src="../static/assets/images/client2.jpg" alt="" class="box-img" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- end client section -->

    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 footer-col">
              <div class="footer_social">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
              </div>
            <div class="footer_contact">
              <div class="contact_link_box">
                <div class="contact_link_box">
                  <div class="contact-info">
                    <!-- Thêm liên kết cho số Hotline -->
                    <span class="contact-item">
                        <a href="tel:+842436336688">Hotline: +84 2436336688</a>
                    </span> 
                    <span class="separator">|</span> 
                    <!-- Thêm liên kết cho số điện thoại -->
                    <span class="contact-item">
                        <a href="tel:+84889371188">Tel: +84 889371188</a>
                    </span> 
                    <span class="separator">|</span> 
                    <!-- Thêm liên kết cho Email -->
                    <span class="contact-item">
                        <a href="mailto:info@mohinhviet.com"> Email: info@mohinhviet.com</a>
                    </span>
                    <br>
                    <!-- Thêm liên kết cho địa chỉ -->
                    <a href="https://maps.app.goo.gl/B3npYrKwRAqBN4QSA"target="_blank"> Headquarters in Vietnam: No.751 Nguyen Khoai, Thanh Tri Ward, Hoang Mai District, Hanoi, Vietnam</a>
                    <br>
                    <a href="https://maps.app.goo.gl/3hDVjUuRsVxZkCdb8"target="_blank"> Headquarters in Australia: 2B Mercer Rd, Armadale VIC 3143, Australia</a>
                    <br>
                    <a href="https://vietmodel.com.au/"target="_blank">&copy; <span id="displayYear"></span> All Rights Reserved By Viet Model</a><br /><br />
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </footer>
    <!-- end footer section -->

    <!-- jQery -->
    <script src="../static/assets/js/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap js -->
    <script src="../static/assets/js/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="../static/assets/js/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- Model control -->
    <script src="/static/assets/js/pages/interactive.js"></script>
  </body>
</html>
