{% extends "layouts/base.html" %}

{% block title %} Add Rule Action {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    </form>
    <!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">ACTION</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">Thêm hành động cần thực hiện</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
            <div className="container">
                <form action="/submit_form" id="add_rule_action" method="post">
                    
                    <div>Hành động thực hiện sau khi thỏa mãn điều kiện:</div>
                    <label for="device">Thiết bị cần hành động:</label><br>
                    <select id="device" name="device" required>
                        <!-- <option value="1">Bật</option> -->
                        <option value="sw">Tất cả công tắc</option>
                    </select>                  
                    <br>
                
                    <label for="value_action">Hành động:</label><br>
                    <select id="value_action" name="value_action" required>
                        <!-- <option value="1">Bật</option> -->
                        <option value="0">Tắt</option>
                        <option value="1">Bật</option>
                    </select>                
                    <br>
                    <br>
                
                    <input type="submit" value="Thêm hành động">
                    <br>
            </div>
            <br>
            <br>
            <div> 
                <button type="button" onclick="button()">Hoàn tất lập lịch</button>
            </div>
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/pages/add_rule_action.js"></script>

{% endblock javascripts %}
