{% extends "layouts/base.html" %}

{% block title %} Edit Room {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Edit Room Name</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">Edit Room Name</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
            <div className="container">
                <form id="editRoom">
                    
                    <label for="editName">Room Name :</label><br>
                    <input type="text" id="editName" name="editName" required ><br>
                
                    
                    <label for="editDescription">Description :</label><br>
                    <textarea id="editDescription" name="editDescription" rows="4" cols="50" ></textarea><br>
					
					<label for="editTime">Thời gian tắt thiết bị sau khi ngưng hoạt động :</label><br>
                    <input type="text" id="editTime" name="editTime"  ><br>
                    <br>
					<button type="button" onclick="updateRoom()">Update Room</button>
                </form>
				
            </div>
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/pages/edit-room.js"></script>

{% endblock javascripts %}
