{% extends "layouts/base.html" %}

{% block title %}  Room Control {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    #unique-spinner-id {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 4px solid #3498db;
        width: 20px;
        height: 20px;
        animation: spin 1s linear infinite;
        display: none;
        margin-left: 10px; 
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
{% endblock stylesheets %}

{% block content %}

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuid/dist/umd/uuidv4.min.js"></script>


    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- order-card start -->

<!-- BANG QUAN LY -->
                <div class="col-md-12">
                    <div class="card table-card">
                        <div class="card-header">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Room  Control</a></li>
                            </ul>
                            {% if room_id %}
                                 <h5>Phòng: {{ room_id }} </h5>
                            {% endif %}
                
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                
                                        <!-- Them thiet bi  moi -->
                                        <li class="dropdown-item close-card"><a href="{{ url_for('home_blueprint.route_template', template='add_device.html', room_id=room_id) }}"><i class="feather icon-plus"></i> Thêm thiết bị</a></li>
                                        <li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="nav nav-pills nav-fill mt-3 border-bottom pb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="feather icon-film m-r-5"></i> Điều Khiển</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="feather icon-file-text m-r-5"></i>Thông Số</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="feather icon-mail m-r-5"></i> Tra Cứu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-news-tab" data-bs-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false"><i class="feather icon-monitor m-r-5"></i> Lịch Tự Động</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-0">
                            
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll1" id="root" style="height:362px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                <tr>
                                                    <th><span>ID</span></th>
                                                    <th><span>Thiết Bị<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"></a></span></th>
                                                    <th><span>Trạng Thái<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"></a></span></th>
                                                    
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll1" id="parameter" style="height:362px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                <tr>
                                                    <th><span>Điện Năng Tiêu Thụ</span></th>
                                                    <th><span>Nhiệt Độ<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"></a></span></th>
                                                    <th><span>Độ Ẩm<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"></a></span></th>
            
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <!-- Dữ liệu bảng -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll2" id="thongtin" style="height:362px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <center>
                                                        <form id="myForm">
                                                            <select id="thongso" name="thongso">
                                                                <option value="sensor">Sensor</option>
                                                                <option value="device">Device</option>
                                                                <option value="controller">Controller</option>
                                                            </select>
                                                            <input type="submit" >
                                                        </form>
                                                    </center>
                                                <tr>
                                                    <th><span>DEVICE ID</span></th>
                                                    <th><span>TÊN</span></th>
                                                    <th><span>LOẠI TÀI NGUYÊN</span></th>
                                                    <th><span>GIÁ TRỊ</span></th>
                                                    <th><span>THỜI GIAN</span></th>
            
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <!-- Dữ liệu bảng -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll3" style="height:362px;position:relative;">
                                            <table class="table table-hover m-b-0">
                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Customer overview end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    
	<script src="/static/assets/js/pages/device-state.js"></script>

{% endblock javascripts %}
